@{
    ViewData["Title"] = "About";
}
    <div class="text-center">
        <h1>The Little Spoon</h1>
        <h2>About Us..</h2>
        <br />
        <h3><span class="badge badge-dark">Our Team</span></h3>
        <span class="badge badge-success">May Naim</span>
        <span class="badge badge-danger">Shira Sonigo</span>
        <span class="badge badge-warning">Shiri Mesika</span>
        <br />
        <br />
        <div id="about-div">
            “In The Little Spoon , we are sharing fresh, flavorful, (mostly) healthy recipes that we love to make and eat in real, actual, every day life. If we wouldn’t eat it in real life, we won’t put in on the website. Our goal is to inspire you with food that is both approachable AND exciting, whether you’re cooking for yourself, your family, your roommates, or your friends. We want you to be so excited about these recipes that you eagerly await 5pm when you can go home from work and start cooking.. Enjoy! :)”
        </div>
        <br />
        <br />
        <img src="~/images/about.png" alt="ASP.NET" class="img-responsive" />
    </div>
