<!-- Code from d3-graph-gallery.com -->
<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/statistics.js"></script>

<!-- Create a div where the graph will take place -->
<div id="aPc"></div>
<div id="cPc"></div>
<div id="aDc"></div>

<style>

    body {
        font-family: sans-serif;
        color: #444;
    }

    .line {
        fill: none;
        stroke: #ffab00;
        stroke-width: 3;
    }


    
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .axis text {
        font-size: 10px;
    }
</style>
<body>
</body>