@model TheLittleSpoon.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Category @Model.Name</h2>

<div>
    <h3>Are you sure you want to delete this category?</h3>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
